<div class="main-content">
  <div class="container">
    <h3 class="short_headline"><span>DataCo Online Privacy Policy</span></h3>
	<div class="row-fluid">
      <div class="span10">
	    <section>
	      
			<p>DataCo is committed to consumer privacy and the privacy of our website visitors. To demonstrate that commitment, we have developed this website privacy policy. You should carefully read this website privacy policy because it affects your use of the DataCo website, and the services that DataCo offers through the website. Whenever we make a material change to this Privacy Policy, we will post a notice on the DataCo home page. The notice will inform you the Privacy Policy has been posted as of the date last updated.</p>
			<h4>Information that DataCo collects when you visit the website.</h4>
			<p>DataCo may collect business information such as name, telephone number, e-mail address, and business mailing address when you access certain areas of the website that allow you to contact us. At other times, DataCo may collect information that cannot be used to identify you. Such information may be used to analyze the effectiveness of our business and Internet exposure. DataCo does not seek to collect personal information directly from consumers through the use of this website.</p>
			<h4>How DataCo collects information from visitors to the website.</h4>
			<p>DataCo may use any number of web-based tools to collect information about you, your computer, and the web browser that you use to connect to our website. For example, cookies are tiny text files that we place on your computer’s hard drive when you visit our website. DataCo creates cookies based on the information collected from the pages that you visit, and the actions that you take while using our website. You do not have to accept our cookies. If you do not accept or delete our cookies, some areas of our website that you access may not function properly. Other information that we collect includes your IP address, the type of browser, the time that your browser was used to access our website, the content from our cookies, and the referring website address. Some of this information, including the IP address that we obtain from your browser, is stored on our server logs, and may be available for extended periods of time.</p>
			<h4>How DataCo uses the information that we collect.</h4>
			<p>DataCo uses the information that we collect about you to help organize and manage your customer relationship and our business, to conduct business, to provide you with customer support, to perform functions that are described to you at the time of collection, and to enforce our Terms & Conditions. DataCo may use your information to contact your business via mail or email, or telephone or mobile devices in order to give you updates about DataCo.</p>
			<p>DataCo may disclose your business information as is necessary to: (a) comply with a subpoena or court order; (b) cooperate with law enforcement or other government agencies; (c) establish or exercise our legal rights; (d) protect the property or safety of our company and employees; (e) defend against legal claims; (f) help with internal and external investigations; or (g) as otherwise required by law or permitted by law. We may disclose your information in connection with the sale or merger of DataCo, or any transaction that involves the sale or assignment of some or all of our assets.</p>
			<h4>How DataCo protects your business information.</h4>
			<p>DataCo has implemented physical, electronic, and procedural security measures to assist with safeguarding your business information, and to help protect against unauthorized access and disclosure. Only our employees and authorized service providers who are performing legitimate business functions for DataCo are permitted to access your business information. DataCo also uses electronic firewalls to help prevent unauthorized individuals from gaining access to your business information.</p>
			<p>Notwithstanding our efforts, the Internet has inherent security risks. DataCo cannot promise, and you should not expect, that your business information, personal searches, and other communications will always remain secure. You should take care with regard to how you handle and disclose your business information.</p>
			<h4>How you may access and change the information that DataCo collects.</h4>
			<p>The first time that you provide us with registration information through our website, you will be able to decide whether you want to subscribe to emails or newsletters. After your first use, you can change your initial choices by contacting customer service via email at webmaster@datacosolutions.com. Each commercial email that we send to you will offer your business the opportunity to opt-out of continuing to receive such messages. We may take up to 10 days to process your opt-out requests. You can always update your business information and communication preferences by contacting us at onlinesupport@datacosolutions.com.</p>
			<h4>Children under the age of 13.</h4>
			<p> DataCo does not knowingly collect business information from children under the age of 13. If DataCo becomes aware that a child under the age of 13 has provided us with personal information, that information will be deleted from our databases.

			If you have any questions regarding this privacy policy, please email us at privacy@datacosolutions.com.</p>
	  <div>
 </div><!--close .container-->

</div><!--close .main-content-->







 



 















