
<div class="main-content">
  <div class="container">
    <h3 class="short_headline"><span>DataCo Online Privacy Policy</span></h3>
	<div class="row-fluid">
      <div class="span10">
	    <section>
			<%= @page_name %>
		Hello
		</section>
	  </div>
	</div>	
  </div><!--close .container-->
</div><!--close .main-content-->
		