<div id="sequence-theme">
  <div id="sequence">
    <ul>
      <li class="animate-in slide1 slide">
        <div class="title-left-to-right-animate caption light">
          <h2>DataCo Solutions is a data and analytics based business consultancy.</h2>
          <!--demo only--><img src="assets/demo/colors.png" class="visible-desktop" alt="" />
        </div>
        <div class="right-img-from-bottom-out-to-right slide-image">
          <img src="assets/demo/responsive-showcase.png" alt="" />
        </div>
        <div class="bgimg">
        </div>
      </li>
      <li class="slide3 slide">
        <div class="left-img-from-bottom-out-to-left slide-image">
          <img src="assets/demo/sequence/imac.png" alt="" />
        </div>
        <div class="title-right-to-left-animate caption light">
          <h2>Our mission is simple</h2>
          <h3>"we make our client’s business better"</h3>
        </div>
        <div class="bgimg">
        </div>
      </li>
      <li class="slide4 slide">
        <div class="title-left-to-right-animate caption light">
          <h2>Our approach is straightforward</h2>
          <h3>intense analytics, data and insight.</h3>
        </div>
        <div class="right-img-from-top-out-to-right slide-image">
          <img src="assets/demo/sequence/iphone.png" alt="" />
        </div>
        <div class="bgimg">
        </div>
      </li>
      <li class="slide5 slide">
        <div class="title-from-top-animate caption light">
          <h2>Our solutions equal results</h2>
          <h3>fact based, repeatable and reliable.</h3>
        </div>
        <div class="img-from-bottom slide-image">
          <img src="assets/demo/sequence/ipad.png" alt="" />
        </div>
        <div class="bgimg">
        </div>
      </li>
    </ul><!-- close #sequence ul -->
  </div><!-- close #sequence -->
  <ul class="controls">
    <li class="prev"><i class='e-icon-left-open-big'></i></li>
    <li class="next"><i class='e-icon-right-open-big'></i></li>
  </ul><!-- close .controls -->


  <ul class="nav">
    <li><a href="#">1</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
</div><!-- close #sequence-theme -->

<div class="main-content">

  <div class="container">

    <h3 class="short_headline"><span>Analytics Based Business Solutions</span></h3>

    <div class="row-fluid equal featured-columns"> <!-- add class equal to the surrounding row-fluid class you can stick anything you want in here, this is an example with some custom css-->
      <div class="span4">
        <a href="#" class="innershadow"><img class="banner-img" src="assets/demo/eqh/2.jpg" alt=""></a>
        <div class="content">
          <h3 class="primary-color">We help all types of companies:</h3>
          <ul>
            <li>Small, Medium and Large</li>
            <li>Public, Private, Non Profit, Associations</li>
            <li>Financial Services, Retail, Insurance</li>
            <li>B2B and B2C</li>
          </ul>
        </div>
      </div>
      <div class="span4">
        <a href="#" class="innershadow"><img class="banner-img" src="assets/demo/eqh/3.jpg" alt=""></a>
        <div class="content">
          <h3 class="primary-color">We work on all types of problems:</h3>
          <ul>
            <li>Acquisition, Retention and Winback</li>
            <li>Marketing Spend Optimization</li>
            <li>Customer Segmentation and Profitability</li>
          </ul>
        </div>
      </div>
      <div class="span4">
        <a href="#" class="innershadow"><img class="banner-img" src="assets/demo/eqh/1.jpg" alt=""></a> <!-- the class innershadow can be any wrapping tag (div,span), if you want a link on the image, then use an a tag-->
        <div class="content">
          <h3 class="primary-color">We Analyze All Types of Data:</h3>
          <ul>
            <li>Big, Small, Disparate</li>
            <li>Web, Brick and Mortar, Direct Marketing</li>
            <li>Customer, Marketplace, Financial</li>
            <li>Social Media, Demographic, Geographic</li>
          </ul>
        </div>
      </div>

    </div>
    <!--close row-fluid -->

  </div><!--close .container-->

</div><!--close .main-content-->

<%= content_for :js do %>
    <!-- Sliders ================ -->
    <script src='assets/jquery.flexslider.min.js'></script><!--flexslider (twitter, blog, portfolio, full width) AND loading -->
    <script src='assets/lemmon-slider.min.js'></script><!-- variable width image slider AND loading -->
    <!--initialize scripts / custom scripts-->
    <script src='assets/custom.js'></script>

<% end %>







