/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require theme.reset.min
 *= require style
 *= require switcher

 */

iframe {
    max-width: 100%
}

.map {margin:3% 0}

/* From http://codepen.io/chriscoyier/full/kycDp */
.map-container {
    width: 100%;
    margin: 0 auto;
    height: 0;
    padding-top: 38%;
    position: relative;
}
.map-container iframe {
    width: 100%;
    height: 100%;
    /* had to specify height/width */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
@media screen and (min-width: 767px) {
    .map-container {
        display: block
    }
    .static-img {
        display: none
    }
}
@media screen and (max-width: 767px) {
    .static-img {
        width: 100%
    }
    .map-container {
        display: none
    }
}
@media screen and (min-width:1100px) and (max-width:1499px) {
    .map-container {
        padding-top: 25%
    }
}
@media screen and (min-width:1500px) {
    .map-container {
        padding-top: 20%
    }
}
