<!--begin footer -->
<footer class="footer clearfix">
  <div class="container">
    <!--footer container-->
    <div class="row-fluid">
      <div class="span3">
        <section>
          <h4>Contact Us</h4>
          <p>Chief Executive Officer: Tom Salutz<br>
            85 W. Algonquin Road, Suite 360<br>
            Arlington Heights, IL 60005<br>
            <strong>phone:</strong> <a href="tel:8472900636" class="tele">847-290-0636  x233 </a><br>
            <span class="overflow"><strong>email:</strong> <a href="mailto:tsalutz@datacosolutions.com">tsalutz@datacosolutions.com</a></span> </p>
        </section>
        <!--close section-->

        <section>
          <h4>Follow Us</h4>
          <ul class="social">
            <li><a class="fc-webicon rss round" href="#" title="RSS"></a></li>
            <li><a class="fc-webicon facebook round" href="#" title="Facebook"></a></li>
            <li><a class="fc-webicon twitter round" href="#" title="Twitter"></a></li>
            <li><a class="fc-webicon skype round" href="#" title="Skype"></a></li>
            <li><a class="fc-webicon dribbble round" href="#" title="dribble"></a></li>
            <li><a class="fc-webicon linkedin round" href="#" title="Skype"></a></li>
          </ul>
        </section>
        <!--close section-->
      </div>
      <!-- close .span3 -->

      <!--section containing newsletter signup and recent images-->
      <div class="span5">
        <section>
          <h4>Stay In Touch</h4>
          <p>Provide us your contact information and stay in touch!</p>
          <form action="yourscript.php" method="post">
            <div class="input-append append-fix custom-append row-fluid">
              <input type="email" class="span8" placeholder="Email Address" name="email" />
              <button class="btn btn-primary">Sign Up</button>

            </div></form>
          <!--close input-append-->
        </section>
        <!--close section-->

        <section>
          <h4>Some of our Most Recent Success Stories</h4>
          <ul class="clearfix">
            <li><a href="#">Driving ROI with Incremental Modeling</li>
            <li><a href="#">Measuring Loyalty vs. Satisfaction</li>
            <li><a href="#">Cross-Tabbing for Marketers</li>
          </ul>
        </section>
        <!--close section-->
      </div>
      <!-- close .span5 -->

      <!--section containing blog posts-->
      <div class="span4">
        <section>
          <h4>About Us</h4>
          <p><h5>Data, Analysis, Solutions </h5></p>
          <p><span>It may sound simple, but its what we do…and we do it really well.  </span>Its what our clients tell us they like most about us…clear, simple, straightforward and practical.  Working the way we do, we build strong bonds with our clients and their business. I guess that’s why we still work with our very first client!  A lot has changed since we opened our doors in 1983, but one thing never will, that’s our dedication to data, facts, rigorous analysis and our customers.  Its the only way we know how to find the solutions that work…For our clients!</p>
        </section>
      </div>
      <!-- close .span4 -->
    </div>
    <!-- close .row-fluid-->
  </div>
  <!-- close footer .container-->
</footer>
<!--/close footer-->

<!--change this to your stuff-->
<section class="footer-credits">
  <div class="container">
    <ul class="clearfix">
      <li>© 2013 DataCo Solutons. All rights reserved.</li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Terms and Conditions</a></li>
    </ul>
  </div>
  <!--close footer-credits container-->
</section>
<!--close section .footer-credits-->
<span class="backToTop"><a href="#top"><i class="e-icon-up-open-big"></i></a></span>