<!-- begin .header-->
<header class="header clearfix">


  <!-- mobile navigation trigger-->
  <h5 class="mobile_nav"><a href="javascript:void(0)">&nbsp;<span></span> </a> </h5>

  <!--******this uses the bootstrap navbar menus but with added support for submenus (they are dropping these in 3.0 and their support in 2X was crap).
  I modified the JS, added some script, and adjusted the css.
  I commented and separeated the html so you can apply it to your site/menu system easier. Note the additional classes for this theme.
  *******-->
  <div id="nav">
    <div class="container">


      <div id="logo">
        <a href="/"></a>
        <object class="logo-svg" data="assets/dataco-logo.png" type="image/svg+xml">
        </object>
        <img src="assets/dataco-logo.png" alt="Corporate-Elegance Responsive Retina Ready Portfolio Business"/><!--.no-svg fallback-->
      </div>
      <!-- end #logo -->
      </div>
    <!-- /.container -->
  </div>
  <!--close #nav-->

</header><!-- close /.header -->